version: '3.1'

services:

  mongodb:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_DATABASE: pauta-db
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: mypass
    volumes: 
      - ./data:/data/db
    ports:
      - '27017-27019:27017-27019'

  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    depends_on:
      - mongodb

      # mongodb://root:mypass@localhost:27017/mongodb